@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
$fontMain: 'Bodoni Moda', serif;
$fontRegular:400;

.textMedium{
    font-size: 1.2em;
}
.textBig{
    font-size: 3em;
}
.textSmall{
   font-size: 0.8em; 
}
